/ 左側
%div.leftcontent
  %div.leftcontentusername   username
  %a{href: '#', :class => '.fa.fa-pencil-square-o'}
    %i.fa.fa-pencil-square-o
  %a{href: '#', :class => '.fa.fa-cog'}
    %i.fa.fa-cog


  = render "left.contentgroups"

