/ 左側
%div.leftcontent
  %div.leftcontent__username
    username
    %a{href: '#'}
      %i.fa.fa-pencil-square-o
    %a{href: '#'}
      %i.fa.fa-cog


  = render "left.content__groups"
  = render "left.content__groups"
