/ 左側
%div.leftcontent
  %div.leftcontentusername
    username
    %a{href: '#'}
      %i.fa.fa-pencil-square-o
    %a{href: '#'}
      %i.fa.fa-cog


  = render "left.contentgroups"
  = render "left.contentgroups"
