%div.maincontent__bottom
  %p.maincontent__bottom--username username
  %p.maincontent__bottom--dateandtime 2018/11/11 11:11:11
  %p.maincontent__bottom--message メッセージ1
  /投稿部分
  = render "maincontent__toukou"
