
%div.maincontenttoukou
  <form method="post" enctype="multipart/form-data">
  <textarea name="kanso" rows="1" cols="60" placeholder="textarea">
  </textarea>
  <label for="file" class="file-btn">
  <i class="fa fa-file-image-o"></i>
  <input type="file" id="file" />
  </label>
  <label for="send" class="filesend">Send<input type="submit" name="botan" value="send">
  </label>
  </form>

/ 投稿する部分
