%header チャットグループが作成されました

/ レフトコンテント
= render "left.content"
/レフトコンテントグループ

/ メイン
%div.maincontent
  /メインコンテンツトップ
  = render "maincontent__top"
  /真ん中と投稿部分
  = render "maincontent__bottom"







/ <a class="fa fa-cog" href="#"></a>
/ <a class="fa fa-pencil-square-o" href="#"></a>

/ %a{ :href =>'#', :class => '.fa.fa-cog'}
/ .fa.fa-pencil-square-o
