%header チャットグループが作成されました

/ レフトコンテント
= render "messages/left.content"
/レフトコンテントグループ

/ メイン
%div.maincontent
  /メインコンテンツトップ
  / = render "maincontent__top"
  / /真ん中と投稿部分
  / = render "maincontent__bottom"
