   .leftcontentgrounp{
    clear: both;
    padding: 20px 20px 5px 20px;
    margin-bottom: 40px;
    .grounpname{
      font-size: 15px;
    }
    .newmessage{
      color: #FFFFFF;
      font-size: 11px;
    }
    .leftcontentgrounp:hover{
      opacity: 0.7;
    }
  }
