//左コンテンツ
.leftcontent{
  float: left;
  width: 300px;
  height: 100%;
  background: #2f3e51;
  color: #FFFFFF;
  .leftcontentusername{
    width: 280px;
    float: left;
    padding: 35px 0 16px 20px;
    background: #253141;
    font-style: bold;
    font-size: 16px;
  }
  .fa.fa-pencil-square-o{

    margin-left: 120px;
    padding-top: 20px;
    color: white;
  }
  .fa.fa-cog{

    padding-top: 20px;
    color: white;
  }
}

